#table2{
	border-collapse: collapse;
	border:none;
	margin: 10px 40px;
	width:60%;
	text-align: center;
	
}
#tr4{
	padding:5px 10px;
	background-color: #88C9F2;
	border: none;
	text-align: center;
	
}
.tr1{
	background-color: #DCDDE1;
}
td{
	height:20px;
}
table td tr{
	border:none;
}
